header.a-head
	.a-parth-to-center
		.a-side-logo
			a(class="a-link-logo")
				img(src="", alt="")
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aspernatur optio dolores quod tempore? 
			.a-menu-item
				a(class="a-link-item button-modal" href="#" data-attr="rules") Правила аукциона
				a(class="a-link-item" href="#") Список товаров
				a(class="a-link-item" href="#") Отзывы
				a(class="a-link-item" href="#") Личный кабинет
				a(class="a-link-item button-modal" href="#" data-attr="enter") Войти
		.a-side-basket
			.a-side-backet__image
				span.a-side-backet__count 1 шт.
				span.a-side-backet__price 1000 руб.