extends layout

block content
	section.a-main 
		include header.jade
		.a-chat-container
			img(class="a-chat-container__button")
		.a-backgroung-general-goods
			.a-general-goods
				.a-general-goods__image
					.a-img-scale
						img(src="/img/16.jpg", alt="")
				.a-general-goods__description
					p(class="a-general-goods__description_in-warehouse a-min-size-font")
						| на складе: 
						span 10 штук
					h2.a-general-goods__description_title
						| Красивая шапочка и девушка в подарок
					p( class="a-general-goods__description_description")
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reprehenderit alias, harum illo quidem, odio molestiae commodi ut incidunt cupiditate quia, reiciendis totam repudiandae ipsum provident. Earum incidunt dolore, a.
					.a-general-goods__description_info
						.a-general-goods__description_info_part
							a(href="" class="a-general-goods__description_info_part-link") 
								| Материал
								span Красный
							a(href="" class="a-general-goods__description_info_part-link") 
								| Размер
								span Красный
						.a-general-goods__description_info_part
							a(href="" class="a-general-goods__description_info_part-link") 
								| Цвет
								span Красный
							a(href="" class="a-general-goods__description_info_part-link") 
								| Состав
								span Красный
					p.a-general-goods__description_price_retail
						| Розничная цена: 
						span 1000 рублей
					p.a-general-goods__description_price_now
						| 2300 руб.
					button( class="a-general-goods__description_buy a-button-black")
						| Покупаю
					.a-general-goods__description_rates_button
						button.a-button-white
							| + 1р
						button.a-button-white
							| + 10р
						button.a-button-white
							| + 100р
						button.a-button-white
							| + 500р
		h1.a-head-font Ближайшие аукционы
		.a-else-goods
			- var i = 0, j = 0, c = 0, img = 0, classArray = ['__with-triangle-left-medium', '__with-waves-rigth-high __to_left-no-margin', '__without-triangle-left-min'];
			while (i < 5)
				div(class="a-goods__item__reisizers")
					while (j <= 2)
						div(class="a-else-goods__item "+classArray[c])
							.a-resizer-masonry
								img(src="/img/"+img+".jpg", alt=c)
							.a-else-goods__description
								p Шапка писец
								.a-else-goods__description_info
									a(href="" class="a-else-goods__description_info-link") 
										| Материал
										span Красный
									a(href="" class="a-else-goods__description_info-link") 
										| Размер
										span Красный
									a(href="" class="a-else-goods__description_info-link") 
										| Размер
										span Красный
									a(href="" class="a-else-goods__description_info-link") 
										| Размер
										span Красный
								p Розничная цена
									span 1000 руб.
								p Начальная ставка
						- j++;
						- img ++;
						- if(c === 2) { c = 0} else {c++};	
				- j = 0;
				- i++; 	
				

		include footer.jade