extends layout

block content
	section.a-main 
		include header.jade
		.a-chat-container
			div(class="a-chat-container__button")
			h1.a-chat-title Чат
			.a-block-with-proposal
				p.a-block-with-proposal__buy_now Готовы купить за
					span 200 руб.
				p.a-block-with-proposal__user 
					i Вася Петров (г.Москва),  
					i Валера (г.Самара) 
			.a-block-with-proposal
				p.a-block-with-proposal__buy_now Готовы купить за
					span 60 руб.
				p.a-block-with-proposal__user 900 чел.
			.a-block-with-proposal
				p.a-block-with-proposal__buy_now Готовы купить за
					span 50 руб.
				p.a-block-with-proposal__user 1200 чел.
			.a-block-with-proposal
				p.a-block-with-proposal__buy_now Готовы купить за
					span 40 руб.
				p.a-block-with-proposal__user 1500 чел.
			.a-block-with-proposal
				p.a-block-with-proposal__buy_now Готовы купить за
					span 30 руб.
				p.a-block-with-proposal__user 1800 чел.
		.a-backgroung-general-goods
			.a-general-goods
				.a-general-goods__image
					span.a-general-number__this_main №1
					.a-img-scale
						img(src="/img/16.jpg", alt="")
				.a-general-goods__description
					p(class="a-general-goods__description_in-warehouse a-min-size-font")
						| На складе: 
						span 10 штук
					h2.a-general-goods__description_title
						| Красивая шапочка и девушка в подарок
					p( class="a-general-goods__description_description")
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reprehenderit alias, harum illo quidem, odio molestiae commodi ut incidunt cupiditate quia, reiciendis totam repudiandae ipsum provident. Earum incidunt dolore, a.
					.a-general-goods__description_info
						.a-general-goods__description_info_part
							a(href="" class="a-general-goods__description_info_part-link") 
								i Размер:
								span 36
							a(href="" class="a-general-goods__description_info_part-link") 
								i Цвет:
								span Черный
						.a-general-goods__description_info_part
							a(href="" class="a-general-goods__description_info_part-link") 
								i Состав:
								span Хлопок 100%
							a(href="" class="a-general-goods__description_info_part-link") 
								i Материал: 
								span Плащевка
					p.a-general-goods__description_price_retail
						| Розничная цена: 
						span 1000 рублей
					p.a-general-goods__description_price_now
						| 2300 
						span руб.
					.a-general-goods__time_to_end
						button( class="a-general-goods__description_buy a-button-black a-inactive")
							| Покупаю
						p До завершения -  
							span 00:30
					p.a-info-about-rates Кнопки станут активны когда в торгах останеться 10 человек
					.a-general-goods__description_rates_button.a-rates-inactive
						button.a-button-white
							| + 1 руб.
						button.a-button-white
							| + 10 руб.
						button.a-button-white
							| + 100 руб.
						button.a-button-white
							| + 500 руб.
		h1.a-head-font Ближайшие аукционы
		.a-else-goods
			- var i = 0, j = 0, c = 0, img = 0, classArray = ['__with-triangle-left-medium', '__with-waves-rigth-high __to_left-no-margin', '__without-triangle-left-min'];
			while (i < 5)
				div(class="a-goods__item__reisizers")
					while (j <= 2)
						-var newClass = (i % 2 != 0) ? 'a-add-new-background' : ' '
						div(class="a-else-goods__item "+classArray[c]+" "+newClass)
							.a-resizer-masonry
								img(src="/img/"+img+".jpg", alt=c, class="a-image-to-zoom")
							.a-else-goods__description
								- var number = img + 2;
								p.a-number-goods 
									| №
									span=number
								p.a-else-goods-descroption Шапка писец
								.a-else-goods__description_info
									span(class="a-else-goods__description_info-link") 
										i Состав
											span Красный
									span(class="a-else-goods__description_info-link") 
										i Размер
											span Красный
									span(class="a-else-goods__description_info-link") 
										i Цвет
											span Красный
									span(class="a-else-goods__description_info-link") 
										i Ткань
											span Красный
								p.a-old-price Розничная цена
									span 3000 руб.
								p.a-new-price Начальная ставка
									span 1000 руб.
						- j++;
						- img ++;
						- if(c === 2) { c = 0} else {c++};	
				- j = 0;
				- i++; 	
				
		
		include footer.jade