extends layout

block content
	section.a-main 
		include header.jade
		include chat.jade
		.a-backgroung-general-goods
			.a-preloaders.__blue-preloader
			
		h1.a-head-font Ближайшие аукционы
		.a-else-goods.a-zoom-container
			.a-preloaders.__yellow-preloader
		include footer.jade