doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://cdn.socket.io/socket.io-1.4.5.js")
		script(src="/build/build.js")
		script
			| var socket = io(); socket.emit('chat message', 'HELLO FROM CLIENT');
	body
		block content
