header.a-head
	.a-parth-to-center
		.a-side-logo
			a(class="a-link-logo" href="/")
				img(src="/img/logo.png", alt="")
			p  Здесь вы можете управлять заказами фильтровать их по принципу оплаченные и не оплаченные
	.a-menu-admin
		.a-menu-admin__links
			a(href="/page_to_manage_goods") Все товары
			a(href="/page_auction") Товары аукциона
			a(href="/page_orders") Заказы 
			a(href="/page_comments") Отзывы 
			a(href="/page_rules") Правила 
			a(href="/page_config") Настройки 