extends layout_manage

block content
	.a-conteiner-flexible-fixed
		span.a-modal-close
	include ./header
	.a-table-admin.__a-for-config
		h1.a-head-font-left-side Настройки
		view.a-all-goods-table
			.a-config
				.a-outer-calendar
					p.a-startet-date
						| Дата начала: 
						- var date = (+variables.date) ? new Date(+variables.date) : null;
						- var dateParse = (date instanceof Date) ? (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + "-" + (date.getMonth() + 1) + "-" + date.getFullYear() + " " + date.getHours() + ":" + (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) : "Не определена"
						span= dateParse
				.a-calendar
					input.a-flatpickr(type='text', placeholder='Выбрать дату')
				button.a-date-save.a-button-black Изменить дату
				p.a-result
	include ../footer