extends layout_manage

block content
	.a-conteiner-flexible-fixed
		span.a-modal-close
	header.a-head
		.a-parth-to-center
			.a-side-logo
				a(class="a-link-logo" href="/")
					img(src="/img/logo.png", alt="")
				p  Здесь вы можете управлять заказами фильтровать их по принципу оплаченные и не оплаченные
		.a-menu-admin
			.a-menu-admin__links
				a(href="#allGoods") Все товары
				a(href="#allGoodsAuction") Товары аукциона
				a(href="#orders") Заказы 
	.a-table-admin
		.a-container-search
			input(type="text" placeholder="Поиск товара")
			p Искать товар по названию
		h1.a-head-font-left-side Все товары
		view

	include ../footer.jade