doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/build/build.manage.css')
		link(rel='stylesheet', href='https://unpkg.com/flatpickr/dist/flatpickr.min.css')
		script(src="/build/build.manage.js")
	body
		block content
