doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/build/build.manage.css')
		script(src="/build/build.manage.js")
		link(rel="icon" type="image/png" href="/favicon.png")
	body
		block content
