w = 945px
greys = #f5f5f5
fontg = #767575
green = #15a399
greenTooltip = #20bbb0
reds = #fc392c
pink = #e8065a
dark = #131313
i = !important


@font-face
   font-family HelveticaLight
   font-style normal
   src url('../../fonts/HelveticaNeueCyr-Light.otf')

@font-face
   font-family HelveticaThin
   font-style normal
   src url('../../fonts/HelveticaNeueCyr-Thin.otf')

@font-face
   font-family HelveticaUltraLight
   font-style normal
   src url('../../fonts/HelveticaNeueCyr-UltraLight.otf')

@font-face
   font-family HelveticaMedium
   font-style normal
   src url('../../fonts/HelveticaNeueCyr-Medium.otf')


@font-face
   font-family HelveticaRoman
   font-style normal
   src url('../../fonts/HelveticaNeueCyr-Roman.otf')
   
@font-face
   font-family HelveticaBold
   font-style normal
   src url('../../fonts/HelveticaNeueCyr-Bold.otf')

*
  box-sizing border-box

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
  background transparent
  border 0
  font-size 100%
  margin 0
  outline 0
  padding 0
  vertical-align baseline

body 
  line-height 1 
  background backGrey
  font-family Arial

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display block

h1,h2,h3,h4,h5,h6
  font-weight normal

nav ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''
  content none

a
  background transparent
  font-size 12px
  margin 0
  padding 0
  vertical-align baseline
  text-decoration none

mark
    font-style italic
    font-weight 700

del
  text-decoration line-through

abbr[title], dfn[title]
  border-bottom 1px dotted
  cursor help

table
  border-collapse collapse
  border-spacing 0

/* change border colour to suit your needs */
hr
  border 0
  border-top 1px solid #ccc
  display block
  height 1px
  margin 1em 0
  padding 0

input, select 
  vertical-align middle

span 
  font-size 12px

i 
  font-style normal 

input[type="text"]
  border 2px solid #000
  width 200px
  background #fff 
  padding 10px


.a-button-white
  background rgba(0,0,0,0)
  border 2px solid #000
  padding 15px 17px
  font-size 14px
  font-family HelveticaRoman
  color #000
  transition all .4s ease-out
  cursor pointer
  line-height 13px
  &:hover 
    color #fff 
    background rgba(0,0,0,1)

 
.a-head
  width 100%
  position relative
  z-index 1
  background url('../../img/header.png')
  
.a-parth-to-center
  width w
  height 125px
  margin 0 auto
  display flex
  position relative
  justify-content space-between

.a-side-logo
  display flex
  position relative
  align-items center
  padding 0 20px 0 0

.a-side-logo p 
  font-size 12px
  font-family HelveticaRoman
  margin-top -20px
  padding-left 36px
  position relative
  line-height 18px
  color fontg
  &:before
    content ""
    position absolute
    width 0
    height 0
    border-style solid
    top 8px
    line-height 18px
    border-width 8.5px 0 8.5px 13px
    border-color transparent transparent transparent #ffb121
    left 13px
    
.a-head-font 
  padding 20px 0
  font-size 50px
  width w
  margin 0 auto
  text-align left
  font-family HelveticaThin
  
.a-menu-admin
  display block
  margin 1px 0px
  background #000
  padding 17px 10px
  border-bottom 1px solid rgba(0,0,0,.2)
  cursor pointer
  
.a-menu-admin__links
  width w 
  margin auto
  
.a-menu-admin__links a 
  color #fff
  font-family HelveticaThin 
  font-size 20px
  padding-right 20px
  
.a-container-search
  width w
  margin 20px auto
  display flex 
  justify-content flex-start
  align-items center

.a-container-search p
  font-family HelveticaThin 
  font-size 20px
  color fontg 
  padding-left 20px
  
.a-all-goods-table
  display flex
  justify-content space-between
  flex-wrap wrap
  width w
  margin auto

.a-all-goods-table__item
  width 23%
  position relative
  color #000
  cursor pointer


.a-all-goods-table__item > img
  width 100%
  box-shadow 0 0 30px -2px rgba(0,0,0,.2)

.a-all-goods-table__description
  padding 10px 0

.a-all-goods-table__description_number
  color fontg
  font-size 14px
  font-family HelveticaRoman
  padding 15px 0 10px
  
.a-all-goods-table__description_info
  font-size 16px
  font-family HelveticaRoman
  
.a-hidden-block
  display flex
  align-items flex-start
  justify-content space-between
  background #fff

.a-hidden-block__description
  padding 0 70px 0 0 
  white-space nowrap

.a-hidden-block__description__outer
  padding 0 0 30px
  position relative 
  &:after 
    content ""
    position absolute
    width 95px
    height 2px
    background #000
    bottom 20px
    left 0
    
  
.a-hidden-block__description-link
  font-family HelveticaRoman
  font-size 14px
  display block
  padding-bottom 10px
  
.a-hidden-block__description-link i 
  color fontg
  padding-bottom 3px
  display inline-block
  font-family HelveticaThin
  font-size 16px

.a-hidden-block__description-link span 
  display block
  font-family HelveticaThin
  font-size 14px
  color #000

.a-hidden-block__description .a-old-price
  padding-bottom 5px
  
.a-head-font-left-side 
  padding 0px 0px 30px 0
  font-size 50px
  width w
  margin auto
  display block
  position relative
  text-align left
  font-family HelveticaThin
  &:before
    content ""
    position absolute
    width 112px
    height 50px
    background-image url('../../img/sprite.png')
    background-position -474px -199px
    z-index 1
    right -55px
    top 30px
    
.a-button-download-more
  display flex 
  justify-content center
  margin 20px 0 40px
  
.a-footer
  width 100%
  background url('../../img/footer.png')

.a-footer-container
  width w 
  padding 20px
  margin 0 auto
  font-family HelveticaRoman
  display flex
  color #fff
  font-size 12px
  color fontg
  justify-content space-between
  align-items center
  
.a-hidden-form
  display none
  
.a-conteiner-flexible-fixed
  display flex 
  justify-content center
  align-items center 
  right 100%
  transition .5s
  position fixed 
  width 100%
  height 100%
  background-color rgba(256,256,256, .9)
  z-index 9999
  
.a-modal-close
  width 40px
  height 40px
  background-image url('../../img/sprite.png')
  background-position -361px -132px
  position absolute
  right 20px
  top 20px
  cursor pointer
  transform rotate(0)
  transition all .5s ease-out
  &:hover
    transform rotate(90deg)
    
.a-conteiner-flexible-fixed .a-hidden-form
  display flex
  
.container-description-form
  display flex 
  justify-content flex-start
  align-items center
  padding 10px 0
  flex-wrap wrap

.a-hidden-form_description
  padding-left 20px
  display flex 
  flex-direction column
  
.container-description-form__title 
  font-family HelveticaThin
  font-size 25px

.container-description-form__else_params
  font-family HelveticaThin
  font-size 20px
  padding-bottom 5px
  width 100%

.container-description-form span 
  width 100% 
  display block
  color fontg
  font-family HelveticaThin
  font-size 18px
  
.container-description-form label 
  padding-right 10px 
  text-align center
  
.a-containet-flex-to-end-button
  margin-top 20px