.a-chat-container
	width 250px
	height 100%
	position fixed
	background greys
	border-left 5px solid #e8065a
	top 0
	right -250px
	z-index 999
	transition all .7s ease

.-animate-chat
	right 0px
	
.a-chat-container__button
	position absolute
	width 40px
	height 145px
	left -44px
	background-image url('../img/sprite.png')
	background-position -684px 0
	top 50%
	margin-top -72px
	cursor pointer
	