.a-backgroung-general-goods
	width 100%
	background greys
	
.a-general-goods
	width w
	margin 0 auto
	display flex
	padding 40px 75px 30px
	position relative
	&:before
		position absolute
		width 1000px
		right 100%
		background #fff
		height 100%
		top 0
		content ""

.a-general-goods__description
	padding 30px 65px 0px 65px

.a-general-goods__description_in-warehouse
	color fontg
	
.a-general-goods__description_in-warehouse span
	color #000

.a-general-goods__description_title
	padding 15px 0 15px 0
	font-size 30px
	font-weight 400

.a-general-goods__description_description
	padding 4px 0 15px 0
	
.a-general-goods__description_info_part
	width 100%

.a-general-goods__description_info
	padding 0 0 20px 0

.a-general-goods__description_info_part-link 
	color green
	width 80px
	padding 5px 0
	display inline-block
	position relative

.a-general-goods__description_info_part-link span 
	display none
	
.a-general-goods__description_price_retail
	color fontg

.a-general-goods__description_price_retail span
	color #000
	
.a-general-goods__description_price_now
	padding 10px 0 10px
	font-size 30px
	color reds
	font-family HelveticaThin

.a-general-goods__description_rates_button
	margin 10px 0 0 0

.a-general-goods__description_rates_button .a-button-white
	margin-right 15px
	

.a-img-scale
	width 265px
	height 400px
	padding 0
	overflow hidden

.a-img-scale img
	width 100%
	transition: all 10s ease-out

.a-img-scale img:hover
	transform scale(1.2)
	