.a-modal-zoom-image
	position fixed
	left 0
	top 0
	width 100%
	height 100%
	display none
	align-items center
	justify-content center
	background rgba(0,0,0,.5)
	z-index 9999

.a-inner-background
	width 500px
	height 700px
	display none
	overflow hidden
	background-color #fff
	background-repeat no-repeat
	align-items center
	position absolute
	justify-content center
	background-image url('../img/header.png')

.a-outer-for-image
	width 370px
	height 555px
	overflow hidden
	position relative

.a-outer-for-image img 
	position relative
	width 100%
	
.a-image-slide-controls
	position absolute
	width 100%
	top 0
	
.a-image-slide-controls span 
	width 33px
	height 60px
	position absolute
	display block 
	cursor pointer
	background-image url('../img/sprite.png')
	 
.a-prev 
	background-position -342px -313px
	top 310px
	left 13px
	
.a-next
	background-position -381px -313px
	top 310px
	right 13px